<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- JARVIS V2 permissions -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:theme="@style/AppTheme"
        android:label="Kamal JARVIS"
        android:icon="@drawable/jarvis_logo"
        android:roundIcon="@drawable/jarvis_logo"
        android:allowBackup="true"
        android:supportsRtl="true">

        <!-- JARVIS V2 main interface -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>